@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMono/JetBrainsMono[wght].ttf');
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/JetBrainsMono/JetBrainsMono-Italic[wght].ttf');
  font-style: italic;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: 'JetBrains Mono';
  -webkit-tap-highlight-color: transparent;
}

button, input, textarea {
  font-family: inherit;
}


input::-webkit-inner-spin-button {
  appearance: none;
}
input[type=number] {
  appearance: textfield;
}

button {
  background: white;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 0.15rem 0.4rem;
  transition: border-color 0.25s;
  font-size: 1em;

  &:hover {
    cursor: pointer;
    border-color: #33a230;
  }
}

input {
  border: 1px solid transparent;
  border-radius: 0.4rem;
  padding: 0.2rem 0.5rem;
  transition: border-color 0.25s;
  font-size: 1em;

  &:focus {
    border-color: #33a230;
  }
}

body {
  margin: 0;
  overscroll-behavior: none; /* fixes gestures in preview pane */
}

#app {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  > * {
    flex-grow: 1;
  }
}

a {
  color: #006AF3;
  text-decoration: inherit;
  font-weight: 350;

  &:hover {
    color: #005bd2;
    text-decoration: underline;
  }
}